/* 
+++COLORI+++
Grigio Chiarissimo: #fafafa
Grigio Chiaro (bg header): #eaeaea
Grigio Scuro: #e9ebeb
Grigio Scurissimo (icone header): #b1b1b1
Grigio Caldo (bg footer): #f3eeea
Nero (icone footer): #6b7376
Azzurro: #8edafc
*/


/* +++ HTML COMMONS +++ */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.chosen{
  background-color: #eaeaea !important;
  transition: .3s;
}

.show{
  display: block !important;
}

.show-ib{
  display: inline-block !important;
}

.hidden{
  display: none !important;
}

.deleted{
  color: #b1b1b1 !important;
  font-style: italic;
  margin-right: 10px;
}

.clearfix::after{
  clear: both;
  display: table;
  content: '';
}

.float-left{
  float: left;
}
/* +++ /HTML COMMONS +++ */




/* +++ PAGE +++ */
/* Page Commons */
#page{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#009688 10%, #d8dbd5 10%);
  padding: 2.5vh 0;
  overflow-y: hidden;
}

#container-window{
  height: 95vh;
  width: 85%;
  min-width: 800px;
  max-width: 1800px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* LC + RC Headers */
.in-header{
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.in-header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.in-header .user-info{
  display: flex;
  align-items: center;
}

.in-header .icon-box{
  padding-right: 10px;
  color: #b1b1b1;
}

.in-header .icon-box i{
  transform: scale(1.2);
  margin: 0 10px;
  cursor: pointer;
}

.in-header .user-info *{
  margin: 0 5px;
}
/* /LC + RC Headers */
/* /Page Commons */


/* LEFT COLUMN */
#container-left{
  height: 100%;
  width: 30%;
  min-width: 350px;
  background-color: #ffffff;
}

/* LC Body */
#container-left .in-body{
  height: calc(100% - 60px);
}

/* LC Alert */
#container-left #alert{
  height: 80px;
  width: 100%;
  background-color: #8edafc;
  display: flex;
  align-items: center;
  position: relative;
}

#container-left #alert i{
  height: 57%;
  aspect-ratio: 1;
  margin: 0 10px 0 20px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #8edafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-left #alert-text{
  display: flex;
  flex-direction: column;
}

#container-left #alert-text span{
  font-size: 17px;
}

#container-left #alert-text a{
  font-size: 14px;
  color: #4f7485
}

#container-left #alert-text a:hover{
  color: #3d515a
}

#container-left #alert-text i{
  height: 8px;
  width: 8px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 0;
  color: #ffffff;
  background: none;
  cursor: pointer;
}
/* /LC Alert */

/* LC Find */
#container-left #find{
  height: 50px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-left #find-input-box{
  height: 70%;
  width: 95%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
}

#container-left #find-input-box label{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f5f5f5;
  cursor: pointer;
}

#container-left #find-input-box i{
  color: #b1b1b1;
}

#container-left #find-input-box input{
  width: 70%;
  margin-left: 10px;
  border: none;
  font-size: 15px;
}

#container-left #find-input-box input:focus{
  outline: none;
}
/* /LC Find */

/* LC Chatlist */
#container-left #chatlist{
  height: calc(100% - 140px);
  width: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
}

#container-left .chat{
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}

#container-left .chat:hover{
  background-color: #fbfbfb;
}

#container-left .chat.hidden{
  display: none !important;
}

#container-left .chat>*{
  margin: 0 0 0 10px;
}

#container-left .chat-text{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

#container-left .chat-text i{
  margin: 5px 5px 5px 0;
  font-size: 14px;
}

#container-left .chat .user-last-msg{
  color: #b1b1b1;
  display: flex;
  align-items: top;
}

#container-left .chat .user-last-msg .msg-text{
  font-size: 15px;
  margin-top: 3px;
  margin-right: 5px;

  overflow: hidden; /* nasconde il testo in overflow */
    text-overflow: ellipsis; /* aggiunge i "..." */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* numero di righe da vedere */
}

#container-left .chat .fa-ban{
  display: none;
  margin-right: 1px;
}

#container-left .chat img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
/* /LC Chatlist */
/* /LC Body */
/* /LEFT COLUMN */


/* RIGHT COLUMN */
#container-right{
  height: 100%;
  width: 70%;
  position: relative;
}

/* RC Header */
#container-right .in-header{
  border-left: 1px solid #d6d6d6;
}

#container-right #user-data{
  display: flex;
  flex-direction: column;
}

#container-right .last-access{
  font-size: 14px;
  color: #6b7376;
}
/* /RC Header */

/* RC Body */
#container-right .in-body{
  height: calc(100% - 150px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

#container-right .row{
  margin: 20px 0;
}

#container-right .msg{
  min-height: 60px;
  min-width: 200px;
  max-width: 60%;
  padding: 15px 20px 20px 16px;
  margin: 0 6%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

#container-right .msg .fa-ban{
  display: none;
  margin-right: 2px;
}

#container-right .msg-text{
  max-height: 80%;
  width: 100%;
  font-size: 16px;
  color: #1D1D1F;
  overflow-wrap: break-word; /* UNA PAROLA LUNGA VIENE DIVISA SU PIU RIGHE!!! */
}

#container-right .msg-date i{
  font-size: 12px;
  margin-right: 2px;
}

#container-right .msg-date{
  font-size: 12px;
  color: #b1b1b1;
  position: absolute;
  right: 5px;
  bottom: 3px;
}

#container-right .msg-dropdown-box {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 2px;
}

#container-right .msg-dropdown-box i{
  font-size: 14px;
  color: #b1b1b1;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

#container-right .msg-dropdown{
  display: none;
  position: absolute;
  right: 0;
  background-color: #eaeaea;
  color: #6b7376;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 10px;
  z-index: 1;
}

#container-right .msg-dropdown span{
  cursor: pointer;
  font-size: 15px;
}

#container-right .received{
  float: left;
  background-color: #ffffff;
}

#container-right .sent{
  float: right;
  background-color: #d5f9ba;
}
/* /RC Body */

/* RC Footer */
#container-right #in-footer{
  height: 80px;
  width: 100%;
  background-color: #f3eeea;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-right #in-footer i{
  width: 10%;
  font-size: 25px;
  color: #6b7376;
  text-align: center;
  cursor: pointer;
}

#container-right #in-footer .input-box{
  height: 70%;
  width: 90%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}

#container-right #in-footer input{
  height: 100%;
  width: 95%;
  border: none;
}

#container-right #in-footer input:focus{
  outline: none;
}
/* /RC Footer */
/* /RIGHT COLUMN */
/* +++ /BODY +++ */




/* +++++ DEBUG +++++ */
/* .debug #container-left{
  background-color: deeppink;
}

.debug #container-right{
  background-color: deepskyblue;
} */
/* +++++ /DEBUG +++++ */