/* 
+++COLORI+++
Grigio Chiarissimo: #fafafa
Grigio Chiaro (bg header): #eaeaea
Grigio Scuro: #e9ebeb
Grigio Scurissimo (icone header): #b1b1b1
Grigio Caldo (bg footer): #f3eeea
Nero (icone footer): #6b7376
Azzurro: #8edafc
*/


/* +++ HTML COMMONS +++ */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

/* .clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.float-left{
  float: left;
} */
/* +++ /HTML COMMONS +++ */




/* +++ PAGE +++ */
/* Page Commons */
#page{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#009688 10%, #d8dbd5 10%);
  padding: 2.5vh 0;
  overflow-y: hidden;
}

#container-window{
  height: 95vh;
  width: 85%;
  min-width: 800px;
  max-width: 1800px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* LC + RC Headers */
.in-header{
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.in-header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.in-header .user-info{
  display: flex;
  align-items: center;
}

.in-header .icon-box{
  padding-right: 10px;
  color: #b1b1b1;
}

.in-header .icon-box i{
  transform: scale(1.2);
  margin: 0 10px;
  cursor: pointer;
}

.in-header .user-info *{
  margin: 0 5px;
}
/* /LC + RC Headers */
/* /Page Commons */


/* LEFT COLUMN */
#container-left{
  height: 100%;
  width: 30%;
  min-width: 300px;
  background-color: #ffffff;
}

/* LC Body */
#container-left .in-body{
  height: calc(100% - 60px);
}

/* Alert */
#container-left #alert{
  height: 80px;
  width: 100%;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

#container-left #alert i{
  height: 60%;
  aspect-ratio: 1;
  margin: 0 10px 0 20px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #8edafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-left #alert-text{
  display: flex;
  flex-direction: column;
}

#container-left #alert-text a{
  font-size: 13px;
  color: #4f7485
}
/* /Alert */

/* Find */
#container-left #find{
  height: 50px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-left #find-input-box{
  height: 70%;
  width: 95%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
}

#container-left #find-input-box label{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f5f5f5;
  cursor: pointer;
}

#container-left #find-input-box i{
  color: #b1b1b1;
}

#container-left #find-input-box input{
  width: 70%;
  margin-left: 10px;
  border: none;
  font-size: 15px;
}

#container-left #find-input-box input:focus{
  outline: none;
}
/* /Find */

/* Chatlist */
#container-left .in-body-chatlist{
  height: calc(100% - 140px);
  width: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
}

#container-left .chat-text{
  display: flex;
  flex-direction: column;
}

#container-left .chat{
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

#container-left .chat:hover{
  background-color: #eaeaea;
}

#container-left .chat>*{
  margin: 0 0 0 10px;
}

#container-left .chat-text{
  margin: 0 0 0 20px;
}

#container-left .chat-text i{
  margin: 5px 5px 5px 0;
}

#container-left .chat .user-last-msg{
  font-size: 15px;
  color: #b1b1b1;
}

#container-left .chat img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

/* #container-left .chat span{
  
} */
/* /Chatlist */
/* /LC Body */
/* /LEFT COLUMN */


/* RIGHT COLUMN */
#container-right{
  height: 100%;
  width: 70%;
  position: relative;
}

/* RC Header */
#container-right .in-header{
  border-left: 1px solid #d6d6d6;
}

#container-right #user-data{
  display: flex;
  flex-direction: column;
}

#container-right .last-access{
  font-size: 12px;
  color: #6b7376;
}
/* /RC Header */

/* RC Body */
#container-right .in-body{
  height: calc(100% - 120px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}
/* /RC Body */

/* RC Footer */
#container-right #in-footer{
  height: 60px;
  width: 100%;
  background-color: #f3eeea;
  position: absolute;
  bottom: 0;
}
/* /RC Footer */
/* /RIGHT COLUMN */
/* +++ /BODY +++ */




/* +++++ DEBUG +++++ */
/* .debug #container-left{
  background-color: deeppink;
}

.debug #container-right{
  background-color: deepskyblue;
} */
/* +++++ /DEBUG +++++ */