/* 
Grigio Chiarissimo: #fafafa
Grigio Chiaro (bg header): #eaeaea
Grigio Scuro: #e9ebeb
Grigio Scurissimo (icone header): #b1b1b1
Grigio Caldo (bg footer): #f3eeea
Nero (icone footer): #6b7376
Azzurro: #8edafc


/* +++ HTML COMMONS +++ */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* COLORI */
:root {
  --background-behind-up: #009688;
  --background-behind-down: #d8dbd5;
  --bg-dark: #eaeaea;
  --bg-medium: #fafafa;
  --bg-light: #ffffff;
  --bg-sent: #d5f9ba;
  --bg-footer: #f3eeea;
  --text-darkest: #000000;
  --text-dark: #797979;
  --text-medium: #6b7376;
  --text-light: #b1b1b1;
  --text-msg: #1D1D1F;
  --lightblue: #8edafc;
  --bg-img: url(../img/mine.jpg);
}

[data-theme = "dark"]{
  --background-behind-up: #004d45;
  --background-behind-down: #222222;
  --bg-dark: #161616;
  --bg-medium: #2a2a2a;
  --bg-light: #3d3d3d;
  --bg-sent: #576b49;
  --bg-footer: #494746;
  --text-darkest: #dadada;
  --text-dark: #cccccc;
  --text-medium: #b4b4b4;
  --text-light: #838383;
  --text-msg: #d1d1d1;
  --lightblue: #56a4c8;
  --bg-img: url(../img/minedark.jpg);
}
/* /COLORI */

#root{
  color: var(--text-darkest);
}

.chosen{
  background-color: var(--bg-dark) !important;
  transition: .3s;
}

.show{
  display: block !important;
}

.show-ib{
  display: inline-block !important;
}

.hidden{
  display: none !important;
}

.deleted{
  color: var(--text-light) !important;
  font-style: italic;
}

input{
  background-color: var(--bg-light);
  color: var(--text-dark);
}

.clearfix::after{
  clear: both;
  display: table;
  content: '';
}

.float-left{
  float: left;
}
/* +++ /HTML COMMONS +++ */




/* +++ PAGE +++ */
/* Page Commons */
#page{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(var(--background-behind-up) 10%, var(--background-behind-down) 10%);
  padding: 2.5vh 0;
  overflow-y: hidden;
  user-select: none;
}

#container-window{
  height: 95vh;
  width: 85%;
  min-width: 800px;
  max-width: 1800px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* LC + RC Headers */
.in-header{
  height: 70px;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.in-header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.in-header .user-info{
  display: flex;
  align-items: center;
}

.in-header .icon-box{
  padding-right: 10px;
  color: var(--text-light);
}

.in-header .icon-box i{
  transform: scale(1.2);
  margin: 0 10px;
  cursor: pointer;
}

.in-header .icon-box i:hover{
  color: var(--text-dark);
  transition: .2s;
}

.in-header .user-info *{
  margin: 0 5px;
}
/* /LC + RC Headers */
/* /Page Commons */


/* LEFT COLUMN */
#container-left{
  height: 100%;
  width: 30%;
  min-width: 350px;
  background-color: var(--bg-light);
}

/* LC Body */
#container-left .in-body{
  height: calc(100% - 60px);
}

/* LC Alert */
#container-left .alert{
  height: 80px;
  width: 100%;
  color: #000000;
  background-color: var(--lightblue);
  display: flex;
  align-items: center;
  position: relative;
}

#container-left .alert.dark{
  background-color: #222222;
  color: whitesmoke;
}

#container-left .alert.dark i{
  color: #222222;
}

#container-left .alert.dark a{
  color: rgb(206, 206, 206);
}

#container-left .alert i{
  height: 57%;
  aspect-ratio: 1;
  margin: 0 10px 0 20px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #8edafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-left .alert-text{
  display: flex;
  flex-direction: column;
}

#container-left .alert-text span{
  font-size: 17px;
}

#container-left .alert-text a{
  font-size: 14px;
  color: var(--text-dark);
}

#container-left .alert-text a:hover{
  color: #3d515a !important;
  transition: .2s;
}

#container-left .dark .alert-text a:hover{
  color: var(--bg-light) !important;
  transition: .2s;
}

#container-left .alert-text i{
  height: 8px;
  width: 8px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 0;
  color: var(--bg-light) !important;
  background: none;
  cursor: pointer;
}
/* /LC Alert */

/* LC Find */
#container-left #find{
  height: 50px;
  width: 100%;
  background-color: var(--bg-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-left #find-input-box{
  height: 70%;
  width: 95%;
  background-color: var(--bg-light);
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-medium);
}

#container-left #find-input-box label{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--bg-medium);
  cursor: pointer;
}

#container-left #find-input-box i{
  color: var(--text-light);
}

#container-left #find-input-box input{
  width: 70%;
  margin-left: 10px;
  border: none;
  font-size: 15px;
}

#container-left #find-input-box input:focus{
  outline: none;
}
/* /LC Find */

/* LC Chatlist */
#container-left #chatlist{
  height: calc(100% - 220px);
  width: 100%;
  overflow-y: scroll;
  background-color: var(--bg-light);
}

#container-left #chatlist.noBanner1{
  height: calc(100% - 140px);
}

#container-left #chatlist.noBanner2{
  height: calc(100% - 60px);
}

#container-left .chat{
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bg-dark);
  cursor: pointer;
}

#container-left .chat:hover{
  background-color: var(--bg-medium);
  transition: .1s;
}

#container-left .chat.hidden{
  display: none !important;
}

#container-left .chat>*{
  margin: 0 0 0 10px;
}

#container-left .chat-text{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

#container-left .chat-text i{
  margin: 5px 5px 5px 0;
  font-size: 14px;
}

#container-left .chat .user-last-msg{
  color: var(--text-light);
  display: flex;
  align-items: top;
}

#container-left .chat .user-last-msg .msg-text{
  font-size: 15px;
  margin-top: 3px;
  margin-right: 5px;

  overflow: hidden; /* nasconde il testo in overflow */
    text-overflow: ellipsis; /* aggiunge i "..." */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* numero di righe da vedere */
}

#container-left .chat .fa-ban{
  display: none;
  margin-right: 1px;
}

#container-left .chat img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
/* /LC Chatlist */
/* /LC Body */
/* /LEFT COLUMN */


/* RIGHT COLUMN */
#container-right{
  height: 100%;
  width: 70%;
  position: relative;
}

/* RC Header */
#container-right .in-header{
  border-left: 1px solid var(--bg-medium);
}

#container-right #user-data{
  display: flex;
  flex-direction: column;
}

#container-right .last-access{
  font-size: 14px;
  color: var(--text-medium);
}
/* /RC Header */

/* RC Body */
#container-right .in-body{
  height: calc(100% - 150px);
  background-image: var(--bg-img);
  overflow-y: scroll;
  background-color: var(--bg-light);
}

#container-right .row{
  margin: 20px 0;
}

#container-right .msg{
  min-height: 60px;
  min-width: 200px;
  max-width: 60%;
  padding: 15px 20px 20px 16px;
  margin: 0 6%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

#container-right .msg .fa-ban{
  display: none;
  margin-right: 2px;
}

.fa-check-double{
  color: var(--lightblue);
}

#container-right .msg-text{
  max-height: 80%;
  width: 100%;
  font-size: 16px;
  color: var(--text-msg);
  user-select: text !important;
  overflow-wrap: break-word; /* UNA PAROLA LUNGA VIENE DIVISA SU PIU RIGHE!!! */
  margin-right: 10px;
}

#container-right .msg-date i{
  font-size: 12px;
  margin-right: 2px;
}

#container-right .msg-date{
  font-size: 12px;
  color: var(--text-light);
  position: absolute;
  right: 5px;
  bottom: 3px;
}

#container-right .msg-dropdown-box {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 2px;
}

#container-right .msg-dropdown-box i{
  font-size: 14px;
  color: var(--text-light);
  position: relative;
  cursor: pointer;
  z-index: 999;
}

#container-right .msg-dropdown{
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--bg-medium);
  color: var(--text-dark);
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 10px;
  z-index: 1;
}

#container-right .msg-dropdown span{
  cursor: pointer;
  font-size: 15px;
}

#container-right .received{
  float: left;
  background-color: var(--bg-light);
}

#container-right .sent{
  float: right;
  background-color: var(--bg-sent);
}
/* /RC Body */

/* RC Footer */
#container-right #in-footer{
  height: 80px;
  width: 100%;
  background-color: var(--bg-footer);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-right #in-footer i{
  width: 10%;
  font-size: 25px;
  color: var(--text-medium);
  text-align: center;
  cursor: pointer;
}

#container-right #in-footer .input-box{
  height: 70%;
  width: 90%;
  text-align: center;
  background-color: var(--bg-light);
  border-radius: 5px;
}

#container-right #in-footer input{
  height: 100%;
  width: 95%;
  border: none;
}

#container-right #in-footer input:focus{
  outline: none;
}
/* /RC Footer */
/* /RIGHT COLUMN */
/* +++ /BODY +++ */




/* +++++ DEBUG +++++ */
/* .debug #container-left{
  background-color: deeppink;
}

.debug #container-right{
  background-color: deepskyblue;
} */
/* +++++ /DEBUG +++++ */