<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolzapp</title>

  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
    rel="stylesheet">

  <!-- CDN FONTAWSOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- MY CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>


<body>
  <div id="root">
    <div id="page" DISABLED-class="debug">
      <!-- Boolzapp Window -->
      <div id="container-window">

        <!-- Left Column -->
        <div id="container-left">

          <!-- LC Header -->
          <div class="in-header">
            <div class="user-info">
              <img src="img/avatar_4.jpg" alt="la tua immagine profilo">
              <span class="user-name">ROSENCR4NTZ</span>
            </div>

            <div class="icon-box">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- /LC Header -->

          <!-- LC Body -->
          <div class="in-body">
            <!-- LC Alert -->
            <div id="alert">
              <i class="fas fa-bell-slash"></i>
              <div id="alert-text">
                <span>Ricevi notifiche di nuovi messaggi</span>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>
            <!-- /LC Alert -->

            <!-- LC Find -->
            <div id="find">
              <div id="find-input-box">
                <label for="findchat"><i class="fas fa-search"></i></label>
                <input id="findchat" type="text" placeholder="Cerca o inizia una nuova chat">
              </div>
            </div>
            <!-- /LC Find -->

            <!-- LC Chatlist -->
            <div id="chatlist">
              <div class="chat" v-for="(contact, index) in contacts">
                <img :src="getUserAvatar(index)" alt="contact.name">
                <div class="chat-text">
                  <span class="user-name">{{contact.name}}</span>
                  <span class="user-last-msg"><i class="fas fa-check"></i>{{getLastMessage(index)}}</span>
                </div>
              </div>
              <!-- <div class="chat">
                <img src="img/avatar_2.jpg" alt="Renato">
                <div class="chat-text">
                  <span class="user-name">Renato</span>
                  <span class="user-last-msg"><i class="fas fa-check-double"></i>Andiamo?</span>
                </div>
              </div>
              <div class="chat">
                <img src="img/avatar_7.jpg" alt="Nico">
                <div class="chat-text">
                  <span class="user-name">Nico</span>
                  <span class="user-last-msg"><i class="fas fa-check-double"></i>We</span>
                </div>
              </div> -->
            </div>
            <!-- /LC Chatlist -->
          </div>
          <!-- /LC Body -->
        </div>

        <!-- Right Column -->
        <div id="container-right">
          <!-- RC Header -->
          <div class="in-header">
            <div class="user-info">
              <img src="img/avatar_1.jpg" alt="la tua immagine profilo">
              <div id="user-data">
                <span class="user-name">Michele</span>
                <span class="last-access">Ultimo accesso oggi alle</span>
              </div>
            </div>

            <div class="icon-box">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <!-- RC Body -->
          <div class="in-body">
            <div class="row clearfix" v-for="message in contacts[0].messages">
              <div class="msg" :class="(message.status == 'sent') ? 'people-msg' : 'user-msg' ">
                <span class="msg-text">{{message.message}}</span>
                <span class="msg-date">{{message.date}}</span>
              </div>
            </div>
          </div>

          <!-- RC Footer -->
          <div id="in-footer">
            <i class="far fa-smile"></i>
            <div class="input-box">
              <input type="text" placeholder="Scrivi un messaggio">
            </div>
            <i class="fas fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SCRIPT VUE development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- MY JS SCRIPT -->
  <script src="js/main.js"></script>
</body>

</html>